html {
  box-sizing: border-box;
}

:root {
  --accent-color: #2196f3;
  --color-light: #ffffff;
  --text-color: #757575;
}
/* скидання стилів */

* {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto";
  color: #212121;
  background-color: var(--color-light);
  font-size: 14px;
  letter-spacing: 0.03em;
}

/* контейнер */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.section{padding-top: 94px;
padding-bottom: 94px;}
/* logo header WebStudio*/
.logo_header {
  padding-left: 215px;
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-color);
}
.logo_header > .link {
  color: #000000;
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

/* logo footer WebStudio */
.logo_footer {
  display: block;
  padding-top: 60px;
  padding-bottom: 20px;
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-color);
}
.logo_footer .logo_black_part {
  color: var(--color-light);
}

/* скасування колонтитулів */
ul {
  list-style-type: none;
}

.site_nav {
  display: flex;
  margin-left: 93px;
}
.site_nav .item + .item {
  margin-left: 50px;
}
.site_nav .link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}

/* формат шрифту навігаційних посилань */
.main_nav {
  display: flex;
  align-items: center;
}

.nav {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}
.nav:focus {
  color: var(--accent-color);
}
.nav:hover {
  color: var(--accent-color);
}
/* формат шрифту посилання телефон */

.contact_nav {
  display: flex;
  margin-left: auto;
}
.contact_nav .item + .item {
  margin-left: 50px;
}

.site_nav .link {
  display: block;
}
.contact_nav .link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}

.contact {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  text-decoration: none;
}
.contact:focus {
  color: var(--accent-color);
}
.contact:hover {
  color: var(--accent-color);
}

.link:focus {
  color: var(--accent-color);
}

/* центральний напис */
.hiro_titel {
  width: 696px;
  height: 120px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-light);
}
/* центральний текст */
.center_text {
  padding: 200px 452px 280px 452px;
  width: 1600px;
  height: 600px;
  background-color: #2f303a;
  text-align: center;
}
/* Центральна кнопка */
.button {
  display: inline-block;
  min-width: 216px;
  height: 50px;
  border-radius: 6px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.06em;
  color: var(--color-light);
  cursor: pointer;
  background-color: var(--accent-color);
  margin-top: 30px;
  margin-bottom: 200px;
}
.button:hover,
.button:focus {
  color: var(--accent-color);
  background-color: var(--color-light);
  border-color: var(--accent-color);
}

.text_button {
  margin: 10px 32px;
}
/* Кнопки портфоліо */
.button_portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  padding: 6px 22px;
  border-radius: 6px;
  border-color: var(--color-light);
  background-color: var(--color-light);
}

.buttons .item + .item {
  margin-left: 8px;
}
.button_portfolio:hover {
  color: var(--color-light);
  background-color: var(--accent-color);
}
.button_portfolio:focus {
  color: var(--accent-color);
}

.section_title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-left: 215px;
  margin-bottom: 50px;
}

/* переваги */
.benefits{
  display: flex;
  inline-size: auto;
  margin: 94px 215px;
  width: 1200px;
}
.container_benefits .general_item {
  display: flex;
}
.container_benefits .item + .item {
  margin-left: 30px;
}

.benefits_title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.benefits_detal {
  line-height: 1.71;
  color: var(--text-color);
}

/* Чим займаємось */
.container_works {
  margin-top: 0px;
  margin-bottom: 50px;
  margin-left: 215px;
}

.container_works .item + .item {
  margin-left: 30px;
}
.container_works .foto {
  display: flex;
  justify-content: center;
}

/* Імена учасників команди */
.team {
  display: flex;
  justify-content: center;
  margin-left: 215px;
}
.ouer_team {
  padding-top: 94px;
  padding-bottom: 94px;
}

.ouer_team .item + .item {
  margin-left: 30px;
}

.team_name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* посади учасникв */
.team_position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--text-color);
}

/*  стилізація назв проектів*/
.project {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

/* стилізація категорій  */
.category {
  font-size: 16px;
  line-height: 1.88;
  color: var(--text-color);
}
/* активна поточна сторінка */
.current {
  color: var(--accent-color);
  text-decoration: none;
}
.сurrent:hover {
  color: var(--accent-color);
}
.сurrent:focus {
  color: var(--accent-color);
}

/* футер */

footer {
  background: #2f303a;
}
.footer_part {
  padding-left: 215px;
}
.footer_link {
  line-height: 24px;
  color: var(--color-light);
  text-decoration: none;
}
.footer_link:hover {
  color: var(--accent-color);
}
.footer_link:focus {
  color: var(--accent-color);
}

address {
  font-style: normal;
  padding-bottom: 60px;
}

.footer_link_mail,
.footer_link_tel {
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer_link_mail:hover,
.footer_link_tel:hover {
  color: var(--accent-color);
}
.footer_link_mail:focus,
.footer_link_tel:focus {
  color: var(--accent-color);
}

/* ПОРТФОЛІО */

.buttons {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.container_price {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 94px;
}

.price {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.price .title {
  margin-left: 30px;
  margin-bottom: 30px;
}

.price .title:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

/* скритий напис */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
